@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Titillium+Web:wght@200&family=VT323&display=swap');

* {
    box-sizing: border-box;
    user-select: none; /* Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}  

html,
body {
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    background-color: #222;
    color: whitesmoke;
    margin: 0;
    cursor: default;
}

.box {
    display: flex;
    height:     auto;
    min-height: 100%;
    margin:     0px auto;
    padding:    0px auto;
}
.flow-column{
    flex-flow: column;
}

.box .row.header {
    flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
  text-align: center;
}

/* TEXT FORMATTING */

h1 {
    font-size: 96px;
    text-align: center;
    font-family: 'Geo', sans-serif;
    margin: 20px;
    text-shadow: 5px 5px 10px black;
}
h2{
    font-family: 'Geo', sans-serif;
    font-size: 48px;
    margin: 0;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}
h2:after, #popmanagement:after
{
    content:' ';
    display:block;
    border:1px solid gray;
	margin:5px;
}
h3{
    font-size: 32px;
    font-family: 'Geo', sans-serif;
    margin: 0;
    text-shadow: 5px 5px 10px black;
}
p{
    margin: 0;
}
/* STICKY NAVBAR */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    display: table;
    table-layout: fixed;
    width: 100%;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 120s ease infinite;
    -z-animation: rainbow 120s ease infinite;
    -o-animation: rainbow 120s ease infinite;
    animation: rainbow 120s ease infinite;
    -webkit-box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.5);
    text-shadow: 5px 5px 10px black;
}

.topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: table-cell;
    cursor: pointer;
    font-family: 'Geo', sans-serif;
    font-weight: bolder;
    font-size: 28px;
    text-shadow: 1 1 1px white;
}

.topnav a:hover {
    background-color:rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 1);
}

.topnav a.active {
    color: whitesmoke;
}

.topnav .icon {
    display: none;
}
/* RESOURCE BAR */
#resourcebar{
    padding: 5px;
    float: left;
    width: 20%;
    height:     auto;
    min-height: 100%;
    margin:     0px auto;
    overflow: auto;
}
.res{
    padding: 10px;
}
.res:nth-child(even) {
    background-color: #2b2b2b;
} 
/* MAIN */
.main{
    padding: 5px;
    float: left;
    width: 60%;
    height: 100%;
}
.subpage{
    width: 100%;
    height: 100%;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn{
    min-height: 90px;
    max-height: 150px;
    width: 235px;
    border-radius: 15px;
    border: 2px solid #444;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn:hover{
    background-color: gray;
    color: black;
    font-weight: 1000;
}
.building{
    width: 50%;
    min-width: 320px;
}
.buildingBtn{
    float: right;
}

/* GAME LOG */
.gameLog{
    padding: 5px;
    float: left;
    height: 100%;
    width: 20%;
}
#gameLogContent{
    min-height: 240px;
    overflow: auto;
}
.message{
    padding: 10px;
}
.message:nth-child(even){
    background-color: #2b2b2b;
}
/* RESPONSIVE STUFF */
/* for mobile phones */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    #resourcebar, .main, .gameLog{
        width: 100%;
    }
    .building{
        width: 100%;
    }
}
/* for medium sized devices */
@media screen and (min-width:600px) and (max-width:1024px){
    #resourcebar{
        width: 35%;
    }
    .notresourcebar{
        width: 65%;
        float: right;
    }
    .main{
        width: 100%;
    }
    .gameLog{
        width: 100%;
    }
    .building{
        width: 100%;
    }
}

@keyframes rainbowshadow{
    100%,0%{
        text-shadow: 5px 5px 10px rgb(255,0,0);
    }
    8%{
        text-shadow: 5px 5px 10px rgb(255,127,0);
    }
    16%{
        text-shadow: 5px 5px 10px rgb(255,255,0);
    }
    25%{
        text-shadow: 5px 5px 10px rgb(127,255,0);
    }
    33%{
        text-shadow: 5px 5px 10px rgb(0,255,0);
    }
    41%{
        text-shadow: 5px 5px 10px rgb(0,255,127);
    }
    50%{
        text-shadow: 5px 5px 10px rgb(0,255,255);
    }
    58%{
        text-shadow: 5px 5px 10px rgb(0,127,255);
    }
    66%{
        text-shadow: 5px 5px 10px rgb(0,0,255);
    }
    75%{
        text-shadow: 5px 5px 10px rgb(127,0,255);
    }
    83%{
        text-shadow: 5px 5px 10px rgb(255,0,255);
    }
    91%{
        text-shadow: 5px 5px 10px rgb(255,0,127);
    }
}
@keyframes rainbowbg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}