@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Titillium+Web:wght@200&family=VT323&display=swap');

* {
    box-sizing: border-box;
    user-select: none; /* Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    /* border: 1px dotted blue; */
}  

html,
body {
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    background-color: #222;
    color: whitesmoke;
    cursor: default;
}
.box {
    display: flex;
    height:     auto;
    min-height: 100%;
    margin:     0px auto;
    padding:    0px auto;
}
.flow-column{
    flex-flow: column;
}

.box .row.header {
    flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
  height:     auto;
  min-height: 100%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.box .row.footer {
  flex: 0 1 40px;
  text-align: center;
  line-height: 40px;
}

.subpage{
    height:     auto;
    min-height: 100%;
    margin:     0px auto;
    padding:    0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}

.pageContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    Height: auto;
    justify-content: center;
    flex-wrap: wrap;
}

#popmanagement p, #popmanagement .btn{
    margin: 5px;
}
/* TEXT FORMATTING */

h1 {
    font-size: 96px;
    text-align: center;
    font-family: 'Geo', sans-serif;
    margin: 20px;
    text-shadow: 5px 5px 10px black;
}
h2{
    font-family: 'Geo', sans-serif;
    font-size: 48px;
    margin: 0;
    text-align: center;
    text-shadow: 5px 5px 10px black;
    width: 100%;
}
h2:after, #popmanagement:after{
    content:' ';
    display:block;
    border:1px solid gray;
	margin:5px;
    box-shadow: 1px 1px 3px black;
}
h3{
    font-size: 32px;
    font-family: 'Geo', sans-serif;
    margin: 0;
    text-shadow: 5px 5px 10px black;
}
p{
    margin: 0;
}
/* STICKY NAVBAR */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 60px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    display: table;
    table-layout: fixed;
    width: 100%;
    background: linear-gradient(124deg,rgb(255,0,0), rgb(255,127,0),rgb(255,255,0),rgb(127,255,0),rgb(0,255,0),rgb(0,255,127),rgb(0,255,255),rgb(0,127,255),rgb(0,0,255), rgb(127,0,255), rgb(255,0,255), rgb(255,0,127));
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 180s ease infinite;
    -z-animation: rainbow 180s ease infinite;
    -o-animation: rainbow 180s ease infinite;
    animation: rainbow 180s ease infinite;
    -webkit-box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.5);
    text-shadow: 5px 5px 10px black;
}

.topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: table-cell;
    cursor: pointer;
    font-family: 'Geo', sans-serif;
    font-weight: bolder;
    font-size: 28px;
    text-shadow: 1 1 1px white;
}

.topnav a:hover {
    background-color:rgba(0, 0, 0, 0.65);
    color: whitesmoke;
    box-shadow: 0 0 32px 2px black;
}

.topnav a.active {
    color: whitesmoke;
}

.topnav .icon {
    display: none;
}
/* RESOURCE BAR */
#resourcebar{
    padding: 5px;
    float: left;
    width: 20%;
    height:     auto;
    min-height: 100%;
    overflow: auto;
}
.res{
    padding: 10px;
}
.res:nth-child(even) {
    background-color: #2b2b2b;
} 
/* MAIN */
.notresourcebar{
    width: 80%; 
    display: flex;
    height:     auto;
    min-height: 100%;
    margin:     0px auto;
    padding:    0px auto;
    flex-wrap: nowrap;
}
.main{
    padding: 5px;
    float: left;
    width: 75%;
    height:     auto;
    min-height: 100%;
    margin:     0px auto;
    padding:    0px auto;
}
.btn{
    height: 90px;
    width: 235px;
    border-radius: 15px;
    border: 2px solid #444;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px black, inset 2px 2px 5px #444;
}
.btn:hover{
    background-color: gray;
    color: black;
}
/* BUILDINGS */
.building{
    width: auto;
    min-width: 500px;
    min-height: 120px;
    display: grid;
}
.buildingBtn{
    float: right;
    width: 100px;
    height: 40px;
    display: inline;
}
.building h3{
    line-height: 60px;  
}

/* POPULATION */
#workerList p{
    float: right;
}

/* GAME LOG */
.gameLog{
    padding: 5px;
    float: left;
    height: 100%;
    width: 25%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.gameLog p{
    margin: 0 10px;
}
#gameLogContent{
    height: 100%;
    min-height: 240px;
    overflow: auto;
}
.message{
    padding: 10px;
}
.message:nth-child(even){
    background-color: #2b2b2b;
}

/* RESPONSIVE STUFF */
/* for mobile phones */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    h1{
        display: none;
    }
    .topnav a.icon {
        display: block;
    }
    a.icon:after{
        font-size: 48px;
        content: " Idle Empire"
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    #resourcebar, .main, .gameLog{
        width: 100%;
        height: fit-content;
    }
    .building{
        min-width: 100%;
    }
    .notresourcebar{
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }
}
/* for medium sized devices */
@media screen and (min-width:600px) and (max-width:1000px){
    #resourcebar{
        width: 40%;
    }
    .notresourcebar{
        width: 60%;
        float: right;
        height: 100%;
        flex: 1;
        justify-content: center;
        flex-direction: column;
    }
    .main{
        width: 100%;
    }
    .gameLog{
        width: 100%;
    }
    .building{
        min-width: 100%;
    }
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}